<ion-tabs class="  tabs-icon-top tabs-background-stable tabs-color-dark" data-ink-opacity=".35" >
	<ion-tab class="{{ hide_menu_dashboard }} menu-dashboard" title="{{ 'Home' | translate }}" icon-off="ion-android-home" icon-on="ion-android-home" ui-sref="hippiebook.dashboard" >
		<ion-nav-view animation="none" name="hippiebook-dashboard"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_booking }} menu-booking" title="{{ 'Reservas' | translate }}" icon-off="ion-android-checkbox-outline" icon-on="ion-android-checkbox-outline" ui-sref="hippiebook.booking" >
		<ion-nav-view animation="none" name="hippiebook-booking"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_menu_diario }} menu-menu_diario" title="{{ 'Menu' | translate }}" icon-off="ion-fork" icon-on="ion-fork" ui-sref="hippiebook.menu_diario" >
		<ion-nav-view animation="none" name="hippiebook-menu_diario"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-acerca_de" title="ACERCA DE"  ui-sref="hippiebook.acerca_de"  >
		<ion-nav-view animation="none" name="hippiebook-acerca_de"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-booking" title="RESERVAS"  ui-sref="hippiebook.booking"  >
		<ion-nav-view animation="none" name="hippiebook-booking"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-contactanos" title="CONTACTANOS"  ui-sref="hippiebook.contactanos"  >
		<ion-nav-view animation="none" name="hippiebook-contactanos"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-dashboard" title="Dashboard"  ui-sref="hippiebook.dashboard"  >
		<ion-nav-view animation="none" name="hippiebook-dashboard"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-menu_diario" title="MENU DIARIO"  ui-sref="hippiebook.menu_diario"  >
		<ion-nav-view animation="none" name="hippiebook-menu_diario"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-menu_one" title="Menu One"  ui-sref="hippiebook.menu_one"  >
		<ion-nav-view animation="none" name="hippiebook-menu_one"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-menu_two" title="Menu Two"  ui-sref="hippiebook.menu_two"  >
		<ion-nav-view animation="none" name="hippiebook-menu_two"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-slide_tab_menu" title="Menu"  ui-sref="hippiebook.slide_tab_menu"  >
		<ion-nav-view animation="none" name="hippiebook-slide_tab_menu"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-test" title="Test"  ui-sref="hippiebook.test"  >
		<ion-nav-view animation="none" name="hippiebook-test"></ion-nav-view>
	</ion-tab>
</ion-tabs>
